.lead__title {
  margin: 0;
  margin-bottom: 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}


@media (max-width: 767px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    Line-height: 44px;
  }
}