.lead__image-container {
    margin: 0 auto;
    padding: 0;
    max-width: 984px;
}

@media screen and (max-width: 1279.99px) {
    .lead__image-container {

        max-width: 928px;
    }
}

@media screen and (max-width: 1023.99px) {
    .lead__image-container {

        max-width: 768px;
    }
}

@media screen and (max-width: 767.99px) {
    .lead__image-container {
        max-width: 320px;
    }
}